In [83]:
import pandas as pd

In [84]:
# create DailySales DataFrame matching the image
sales = {
    'date_id': [
        '2020-12-08','2020-12-08','2020-12-08',
        '2020-12-07','2020-12-07',
        '2020-12-08','2020-12-08',
        '2020-12-07','2020-12-07','2020-12-07'
    ],
    'make_name': [
        'toyota','toyota','toyota',
        'toyota','toyota',
        'honda','honda',
        'honda','honda','honda'
    ],
    'lead_id': [0,1,1,0,0,1,2,0,1,2],
    'partner_id': [1,0,2,2,1,2,1,1,2,1]
}

In [85]:
df = pd.DataFrame(sales)

In [86]:
df

      date_id make_name  lead_id  partner_id
0  2020-12-08    toyota        0           1
1  2020-12-08    toyota        1           0
2  2020-12-08    toyota        1           2
3  2020-12-07    toyota        0           2
4  2020-12-07    toyota        0           1
5  2020-12-08     honda        1           2
6  2020-12-08     honda        2           1
7  2020-12-07     honda        0           1
8  2020-12-07     honda        1           2
9  2020-12-07     honda        2           1

In [87]:
df = df.groupby(
        by=['date_id','make_name'], 
        as_index=False
        ).agg(
            unique_leads=("lead_id","nunique"),
            unique_partners=("partner_id","nunique")
        )

In [88]:
print(df)

      date_id make_name  unique_leads  unique_partners
0  2020-12-07     honda             3                2
1  2020-12-07    toyota             1                2
2  2020-12-08     honda             2                2
3  2020-12-08    toyota             2                3

In [90]:
df.columns

Index(['date_id', 'make_name', 'unique_leads', 'unique_partners'], dtype='object')

The code creates a pandas DataFrame from a dictionary of sales data, then groups the data by `date_id` and `make_name` to calculate the number of unique leads and unique partners for each group. The result is a summary table showing these counts for each car make on each date.

The code processes sales data using pandas to summarize unique leads and partners for each car make on each date.

1. **Data Creation**  
    The `sales` dictionary contains lists for `date_id`, `make_name`, `lead_id`, and `partner_id`.  
    ```python
    sales = {...}
    ```

2. **DataFrame Construction**  
    The dictionary is converted to a pandas DataFrame:  
    ```python
    df = pd.DataFrame(sales)
    ```

3. **Grouping and Aggregation**  
    The DataFrame is grouped by `date_id` and `make_name`.  
    The `.agg()` function is used to compute:
    - `unique_leads`: Number of unique `lead_id` values per group.
    - `unique_partners`: Number of unique `partner_id` values per group.
    ```python
    df = df.groupby(
         by=['date_id','make_name'], 
         as_index=False
    ).agg(
         unique_leads=("lead_id","nunique"),
         unique_partners=("partner_id","nunique")
    )
    ```

**About `.agg()` Function:**  
- `.agg()` is a pandas method used after grouping data.
- It allows you to specify one or more aggregation operations for columns.
- Syntax:  
  ```python
  .agg(new_column_name=(column_to_aggregate, aggregation_function))
  ```
- Example:  
  - `"nunique"` counts unique values.
  - `"sum"` adds values.
  - `"mean"` computes the average.

**Result:**  
You get a summary table showing, for each date and car make, how many unique leads and partners were recorded.

In [91]:
#  Actors and Directors Who Cooperated At Least Three Times

In [122]:
# add ActorDirector DataFrame
actor_director = {
    'actor_id':    [1, 1, 1, 1, 1, 2, 2],
    'director_id': [1, 1, 1, 2, 2, 1, 1],
    'timestamp':   [0, 1, 2, 3, 4, 5, 6]
}
df1 = pd.DataFrame(actor_director)

In [123]:
df1

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [124]:
stats = df1.groupby(['actor_id', 'director_id']).agg(count=('director_id', 'count')).reset_index()

In [125]:
stats

   actor_id  director_id  count
0         1            1      3
1         1            2      2
2         2            1      2